In [3]:
## Question 1------------------------------------------------------------------

Q1. Create one variable containing following type of data:

1. string = "vivek"

2. list = [3,4,5,6,] 3. float 0.234

4. tuple (12,3,4,5,6,"Sindhu")

In [ ]:
# Question2 ------------------------------------------------------------------------------------>>

Q2. Given are some following variables containing data:

(0) var1 = "

(11) var2= [DS, ML, Python]"

(iii) var3 = [ 'DS', 'ML, 'Python']

(iv) var4 = 1.

What will be the data type of the above given variable.

Answer-

1. String

2. String

3. String

4. Integer

In [ ]:
#Question 3 ----------------------------------------------------------------------------------->>

Q3. Explain the use of the following operators using an example:

0/

(11) %

(11)//

(IV)**

Answer

1. Division

2. Modulo(integer remainder) 

3. Floor division

4. Power operator

In [ ]:
# Question 4------------------------------------------------------------------>>

In [4]:
course_list = ["data science","data analysis","java script","cloud engineer","tally","marge","cloud SQL","DataCamp", "Dataquest", "c++"]

In [5]:
for i in course_list:
    print(i)

data science
data analysis
java script
cloud engineer
tally
marge
cloud SQL
DataCamp
Dataquest
c++

In [6]:
# Question 5 --------------------------------------------------------------------------------

In [4]:
A = 36  # The number to be divided
B = 2  # The divisor
count = 0  # Counter to keep track of the number of divisions

while A % B == 0:
    A /= B  # Divide A by B
    count += 1  # Increment the count

if count > 0:
    print(f"The number A is divisible by B and can be divided {count} times.")
else:
    print("The number A is not divisible by B.")

The number A is divisible by B and can be divided 2 times.

In [5]:
# Question 6----------------------------------------------------------------------------------

In [37]:
number = []
for i in range(25):
    number.append(i)
    
for number in number:
    if number%3 == 0:
        print(f"The {number} is divisible by 3")
    else:
        print(f"The {number} is not divisible by 3")

The 0 is divisible by 3
The 1 is not divisible by 3
The 2 is not divisible by 3
The 3 is divisible by 3
The 4 is not divisible by 3
The 5 is not divisible by 3
The 6 is divisible by 3
The 7 is not divisible by 3
The 8 is not divisible by 3
The 9 is divisible by 3
The 10 is not divisible by 3
The 11 is not divisible by 3
The 12 is divisible by 3
The 13 is not divisible by 3
The 14 is not divisible by 3
The 15 is divisible by 3
The 16 is not divisible by 3
The 17 is not divisible by 3
The 18 is divisible by 3
The 19 is not divisible by 3
The 20 is not divisible by 3
The 21 is divisible by 3
The 22 is not divisible by 3
The 23 is not divisible by 3
The 24 is divisible by 3

In [36]:
numbers = [2, 8, 15, 27, 33, 40, 42, 50, 55, 60, 63, 70, 75, 80, 88, 90, 99, 100, 105, 110, 120, 125, 130, 135, 150]

for number in numbers:
    if number % 3 == 0:
        print(f"{number} is divisible by 3")
    else:
        print(f"{number} is not divisible by 3")

2 is not divisible by 3
8 is not divisible by 3
15 is divisible by 3
27 is divisible by 3
33 is divisible by 3
40 is not divisible by 3
42 is divisible by 3
50 is not divisible by 3
55 is not divisible by 3
60 is divisible by 3
63 is divisible by 3
70 is not divisible by 3
75 is divisible by 3
80 is not divisible by 3
88 is not divisible by 3
90 is divisible by 3
99 is divisible by 3
100 is not divisible by 3
105 is divisible by 3
110 is not divisible by 3
120 is divisible by 3
125 is not divisible by 3
130 is not divisible by 3
135 is divisible by 3
150 is divisible by 3

In [1]:
# Question 7------------------------------------------------------------------------------------>>
"""
In programming, mutable and immutable are terms used to describe the behavior of data types. 
Mutable data types can be modified or changed after they are created,
while immutable data types cannot be modified once they are created. 
Here are some examples of mutable and immutable data types:

1- Mutable Data Types:

List: In Python, lists are mutable. You can add, remove, or modify elements within a list. For example:"""

my_list = [1, 2, 3]
my_list.append(4)  # Adding an element
my_list[0] = 10    # Modifying an element

"""
Dictionary: Dictionaries in Python are mutable. You can add, remove, or modify key-value pairs. For example::"""

my_dict = {'name': 'John', 'age': 25}
my_dict['age'] = 26      # Modifying a value
my_dict['city'] = 'NYC'  # Adding a new key-value pair

"""
2- Immutable Data Types:

String: Strings in Python are immutable. Once a string is created, you cannot change its characters. For example:"""

my_string = 'Hello'
# The following line will raise an error
my_string[0] = 'J'   # Trying to modify a character

"""
Tuple: Tuples in Python are immutable. Once created, you cannot add, remove, or modify elements. For example:"""

my_tuple = (1, 2, 3)
# The following line will raise an error
my_tuple[0] = 10     # Trying to modify an element